@charset "utf-8";

.workspace {
	padding-top: 15px;
}

h2 {
	font-size: 1em;
	font-style: italic;
	margin-top: 30px;
	margin-bottom: 10px;
}

div.date {
	float:left;
	width:80px;
}

li {
	margin-bottom: 10px;
}