/* HTML Elements */
* {
	margin: 0px;
	padding: 0px;
}
body {
	background: #333333;
	font-family: 'Raleway', sans-serif;
	color: #FFFFFF;
}

a {
	text-decoration:none;
	color: #FFFFFF;
}

img {
	border: 0px;
}

li {
	list-style:none;
}


/* Main Space */
#content {
	width: 880px;
	min-height: 680px;
	margin: 20px auto;
	padding: 50px;
}

#headspace {
	height:100px;
	border-color:#00FF66;
}

#logo {
	margin-top:40px;
	float:left;
	font-size: 28px;
	font-weight: normal;
	font-family: 'Josefin Sans', sans-serif;
}
#logo a {}

/* Navigation */
.navigation {
	float: left;
	padding-top: 15px;
}
.navigation li {
	margin-bottom: 15px;
}

/* Highlight Space */
.highlight img {
	width: 700px;
	margin-left: 100px; 
}


/* Work Display */
.worknavigation {
	padding-left: 30px;
}

.worknavigation h1 {
	font-size: 1.3em;
	margin: 0px;
	padding: 0px;
}

.worknavigation a {
	font-style: italic;
	font-size: .8em;
}

.workspace {
	margin: auto;
	width:690px;
	padding: 0px 20px;
	overflow:auto;
}

.workspace ol li {
	list-style: none;
	float: left;
	margin: 15px;
	height: 200px;
	width: 200px;
	text-align:center;
}

.workspace img {
	max-width: 200px;
	max-height: 200px;
}

.workspace .worktitle { display: none; }

.workspacer {
	font-size: .8em;
	padding: 0px 5px;
}
.worktitle {
	font-size: .9em;
}
.workdate {
	font-size: .8em;
	font-weight: normal;
}
.workmedium {
	font-size: .8em;
	font-weight: normal;
}
.workdimensions {
	font-size: .8em;
	font-weight: normal;
}
.workavailability {
	font-size: .8em;
	font-style: italic;
	font-weight: normal;
}